body {
    margin-top: 120px;
    background-color: #f4f4f4;
}

#login-container {
    padding: 20px;
}

.error-message {
    margin-bottom: 20px;
}

.login-image {
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Estilo personalizado para el botón */
.btn-primary {
    background-color: #4c82af;
    border-color: #4c82af;
}

.btn-primary:hover {
    background-color: #3a6578;
    border-color: #3a6578;
}